{{page-title "Books"}}

    <ul>
                {{#each
                    (array
                        (hash title="The Poppy War" author="R. F Kuang" starRating=4.5)
                        (hash title="City of Brass" author="S.A Chakraborty" starRating=5)
                        (hash title="Legendborn" author="Tracy Deonn" starRating=4.5)
                        (hash title="The Gilded Ones" author="Namina Forna" starRating=4.5)
                    ) as |book|
                }}

                <li class="leading-loose">
                    {{book.title}} by {{book.author}} <span class="float-right">{{book.starRating}} stars</span> 
                </li>
                {{/each}}
    </ul>